@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500;700&family=Staatliches&display=swap");
@import "variable.css";
/*components*/
@import "components/header.css";
@import "components/navbar.css";
/*screen*/
@import "screen/index.css";
@import "screen/introduce.css";
@import "screen/squad.css";
@import "screen/history.css";
body {
  font-family: "Noto Sans KR", sans-serif;
}
body::-webkit-scrollbar {
  width: 7px;
  background-color: black;
}
body::-webkit-scrollbar-thumb {
  background-color: #2f3542;
}
body::-webkit-scrollbar-track {
  background-color: grey;
}
.main-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
