.introduce-screen,
.emblem-screen,
.stadium-screen,
.celebrity-screen {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(245, 245, 245);
  padding: 0px 20px;
  padding-top: 120px;
}
.emblem-screen__title,
.introduce-screen__title,
.stadium-screen__title,
.celebrity-screen__title {
  width: 100%;
  font-size: 40px;
  font-weight: 700;
  border-bottom: 2px solid black;
  margin-bottom: 20px;
  padding: 20px 0px;
}

.introduce-screen__column__img {
  width: 100%;
}

.introduce-screen__column__introduce {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  font-size: 30px;
  font-weight: 700;
}
.introduce-screen__column__introduce p {
  font-size: 23px;
  line-height: 35px;
}
.emblem-screen__emblems {
  display: flex;
  justify-content: center;
  align-items: center;
}
.emblem-screen__emblems__emblem-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 25px;
  font-weight: 700;
  font-size: 20px;
}
.emblem-screen__emblems__emblem-box img {
  margin-bottom: 10px;
}
.emblem-screen__emblem__introduce,
.stadium-screen__introduce {
  margin-top: 20px;
  font-size: 23px;
  line-height: 35px;
  font-weight: 700;
}
.stadium-screen__introduce {
  font-size: 25px;
}

.stadium-screen__img {
  width: 50%;
}
